{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!--<link href="/static/css/styles.css" rel="stylesheet">-->
    <title>Settings</title>
</head>
<body>
    <div class="type-of-vegetable" id="name-of-element">
        <h1 class="name-of-element">Название культуры</h1>
        <input class="name" id="name">
    </div>
    <div class="type-of-vegetable">

    </div>
    <div class="type-of-vegetable" id="timetable">
        <h1 class="timetable">Расписание орошения</h1>
    </div>
</body>
</html>