{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- <link href="/static/css/styles.css" rel="stylesheet"> -->
    <title>Smart Garden</title>
</head>
<body>
    <div class="main-container">
        <div class="text-box">
            <h1 class="header">Сервисы</h1>
        </div>
        <div class="blocks">
            <div class="block-services">
                <div class="service">
                    <a href="{% url 'nature_home' %}">
                        <div class="service-top">
                            <div class="icon-container">
                                <img class="icon" src="{% static 'images/service_logo.png' %}" alt="image">
                            </div>
                        </div>
                        <div class="service-bottom">
                            <h1 class="service-name">
                                Растения
                            </h1>
                            <p class="service-description">
                                Управление растениями
                            </p>
                        </div>
                    </a>
                </div>
                <div class="service">
                    <div class="service-top">
                        <div class="icon-container"></div>
                    </div>
                    <div class="service-bottom">
                        <h1 class="service-name">

                        </h1>
                        <p class="service-description">

                        </p>
                    </div>
                </div>
            </div>
            <div class="block-services">
                <div class="service">
                    <div class="service-top">
                        <div class="icon-container"></div>
                    </div>
                    <div class="service-bottom">
                        <h1 class="service-name">

                        </h1>
                        <p class="service-description">

                        </p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-top">
                        <div class="icon-container"></div>
                    </div>
                    <div class="service-bottom">
                        <h1 class="service-name">

                        </h1>
                        <p class="service-description">

                        </p>
                    </div>
                </div>
            </div>
            <div class="block-services">
                <div class="service">
                    <div class="service-top">
                        <div class="icon-container"></div>
                    </div>
                    <div class="service-bottom">
                        <h1 class="service-name">

                        </h1>
                        <p class="service-description">

                        </p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-top">
                        <div class="icon-container"></div>
                    </div>
                    <div class="service-bottom">
                        <h1 class="service-name">

                        </h1>
                        <p class="service-description">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>