<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet">
    <title>Nature</title>
</head>
<body>
  <div class="main-container">
    <div class="choice-location">
        <div class="house">
            <h1 class="location-name">Дом</h1>
        </div>
        <div class="street">
            <h1 class="location-name">Улица</h1>
        </div>
    </div>
    <div class="type-of-vegetable">
        <div class="vegetable-icon">
            <div class="icon"></div>
        </div>
        <div class="vegetable-info">
            <h1 class="vegetable-name">Помидоры</h1>
            <p class="vegetable-description">Редактировать</p>
        </div>
        <div class="vegetable-wet">
            <h1 class="info-icon">i</h1>
        </div>
    </div>
      <div class="type-of-vegetable">
          <div class="vegetable-icon">
              <div class="icon"></div>
          </div>
          <div class="vegetable-info">
              <h1 class="vegetable-name">Огурцы</h1>
              <p class="vegetable-description">Редактировать</p>
          </div>
          <div class="vegetable-wet">
              <h1 class="info-icon">i</h1>
          </div>
      </div>
      <div class="type-of-vegetable">
          <div class="vegetable-icon">
              <div class="icon"></div>
          </div>
          <div class="vegetable-info">
              <h1 class="vegetable-name">Перцы</h1>
              <p class="vegetable-description">Редактировать</p>
          </div>
          <div class="vegetable-wet">
              <h1 class="info-icon">i</h1>
          </div>
      </div>
    <div class="add-vegetable">
        <div class="vegetable-icon">
            <div class="icon">
                <h1 class="add-vegetable">+</h1>
            </div>
        </div>
        <div class="add-plant">
            <h1 class="vegetable-name">Добавить растение</h1>
        </div>
    </div>
  </div>
</body>
</html>