{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <title>Nature</title>
</head>
<body>
  <div class="main-container">
    <div class="type-of-sensors">
        <div class="sensors-info">
            <h1 class="sensors-name">Температура воздуха</h1>
        </div>
        <div class="sensors-value">
            <h1 class="info-icon">24</h1>
        </div>
    </div>
    <div class="type-of-sensors">
        <div class="sensors-info">
            <h1 class="sensors-name">Влажность почвы</h1>
        </div>
        <div class="sensors-value">
            <h1 class="info-icon">25</h1>
        </div>
    </div>
    <div class="type-of-sensors">
        <div class="sensors-info">
            <h1 class="sensors-name">Влажность воздуха</h1>
        </div>
        <div class="sensors-value">
            <h1 class="info-icon">25</h1>
        </div>
    </div>
  </div>
</body>
</html>